@import "https://fonts.googleapis.com/css2?family=Righteous&family=Sarala&display=swap";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none
}

body {
    font-size: 100%;
    background: #f5f5f5
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #000
}

.cabecalho-imagem {
    width: 60px;
    height: 72px
}

.cabecalho-menu {
    display: flex;
    gap: 50px
}

.cabecalho-menu-item {
    font-family: 'Sarala', sans-serif;
    color: #e7c3f0;
    font-weight: 400;
    font-size: 18px
}

.conteudo {
    margin-bottom: 38px;
    border-top: .4px solid #fff2e7
}

.conteudo-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around
}

.conteudo-principal-escrito {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin: 10px
}

.conteudo-principal-escrito-titulo {
    font-family: "Righteous", sans-serif;
    font-weight: 400;
    font-size: 64px;
    margin: 15px;
    color: #503f6a
}

.conteudo-principal-escrito-paragrafo {
    font-family: 'Sarala', sans-serif;
    font-weight: 500;
    font-size: 20px;
    margin: 0
}

.conteudo-secundario-escrito {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin: 10px;
    justify-content: space-around;
    margin-top: 40px
}

.conteudo-secundario-escrito-titulo {
    font-family: "Righteous", sans-serif;
    font-weight: 400;
    font-size: 64px;
    margin: 15px;
    color: #503f6a;
    align-items: center;
    justify-content: space-around
}

.conteudo-secundario-escrito-sub-titulo {
    font-family: 'Sarala', sans-serif;
    font-weight: 600;
    font-size: 30px;
    margin: 0
}

.conteudo-secundario-escrito-paragrafo {
    font-family: 'Sarala', sans-serif;
    font-weight: 500;
    font-size: 20px;
    margin: 5px;
    align-items: baseline
}

.conteudo-terciario {
    display: flex;
    flex-direction: row
}

.conteudo-terciario-escrito {
    display: flex;
    flex-direction: column;
    justify-content: space-around
}

.conteudo-terciario-escrito-titulo {
    font-family: "Righteous", sans-serif;
    font-weight: 300;
    font-size: 35px;
    color: #503f6a;
    align-items: center
}

.conteudo-terciario-escrito-paragrafo {
    font-family: 'Sarala', sans-serif;
    font-weight: 500;
    font-size: 20px
}

.rodape {
    padding: 22px;
    border-top: .4px solid #e7c3f0;
    background-color: #000
}

.rodape-imagem {
    height: 48px;
    display: block;
    margin: 0 auto
}